<div class="container d-flex flex-column justify-content-center align-items-center">
<h1>Result</h1>

<div class="text-decoration-none">
<%= link_to "Play again", new_path, class: "btn btn-primary" %>
</div>
<%= @result %>
</div>
